@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 .particles {
     height: 90vmin;
     width: 100%;
     position: absolute;
     top: 0%;
     left: 0%;
     padding: 0%;
     margin: 0%;



 }



.main{
    min-height: 70vmin;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
}

.firstDiv {

    min-height: 10vmin;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #f0ad4e;
    text-align: center;
    text-align: left;
    z-index: 5;

    font-size: 3vmin;

    /* border: 1px solid red; */

}


.secondDiv {
    height: 45vmin;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;

 
    color: whitesmoke;
    z-index: 10;
  

/* border: 2px solid blanchedalmond; */

}

.secondDivItem1{
    padding: 7px;
  height: 43vmin;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
font-size: 2.3vmin;
}

.secondDivItem1 div{
   
    width: 100%;
 
    
   
}

input[type="range"]{
    width: 100%;
   
}


.secondDivItem2 {
    padding: 7px;
    height: 43vmin;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2.3vmin;
}


.secondDivItem2 div {

    width: 100%;


}







.buttonLinkDiv {
    height: 10vmin;
    width: 80%;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    /* border: 2px solid red; */

}



.button {

    padding: 7px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border: 2px solid #f0ad4e;

    width: 20vmin;
    height: 5.5vmin;
    font-size: 2.1vmin;

    cursor: pointer;






}

.button:hover {
    transition: 600ms;
    background-color: #f0ad4e;
    color: white;
}













@media only screen and (max-width: 992px) {

    .secondDiv {
            height: 45vmin;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            border-radius: 10px;
    
    
            color: whitesmoke;
            z-index: 10;
    
    
           
    
        }

    .secondDivItem1 {
            padding: 7px;
            height: 43vmin;
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-size: 2.1vmin;
        }

                .secondDivItem2 {
                    padding: 7px;
                    height: 43vmin;
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    font-size: 2.1vmin;
                }

}














@media only screen and (max-width: 768px) {


      .particles{
        display: none;
      }

   
    
    
    
        .main {
            min-height: 130vmin;
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
    
        }
    
        .firstDiv {
    
            min-height: 20vmin;
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: #f0ad4e;
            text-align: center;
            text-align: left;
            z-index: 5;
    
            font-size: 3vmin;
    
        
    
        }
    
    
        .secondDiv {
            height: 105vmin;
            width: 65%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
    
            border-radius: 10px;
    
    
            color: whitesmoke;
            z-index: 10;
    
    
      
    
        }
    
        .secondDivItem1 {
            padding: 7px;
            height: 50vmin;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-size: 2.4vmin;
        }
    
        .secondDivItem1 div {
    
            width: 100%;
    
    
    
        }
    
        input[type="range"] {
            width: 100%;
    
        }
    
    
        .secondDivItem2 {
            padding: 7px;
            height: 50vmin;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-size: 2.4vmin;
        }
    
    
        .secondDivItem2 div {
    
            width: 100%;
    
    
        }
    
    
    
    
    
    
        .buttonLinkDiv {
            height: 10vmin;
            width: 90%;
            z-index: 100;
            display: flex;
            align-items: flex-end;
            justify-content: center;
    
    
    
        }
    
    
    
        .button {
    
            padding: 7px;
            border-radius: 7px;
            background-color: transparent;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
    
            text-decoration: none;
            border: 2px solid #f0ad4e;
    
            width: 20vmin;
            height: 5.5vmin;
            font-size: 2.1vmin;
    
            cursor: pointer;
    
    
    
    
    
    
        }



}









@media only screen and (max-width: 600px) {








    .main {
        min-height: 130vmin;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }

    .firstDiv {

        min-height: 20vmin;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #f0ad4e;
        text-align: center;
        text-align: left;
        z-index: 5;

        font-size: 3.2vmin;



    }


    .secondDiv {
        height: 105vmin;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        border-radius: 10px;


        color: whitesmoke;
        z-index: 10;


    

    }

    .secondDivItem1 {
        padding: 7px;
        height: 50vmin;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 2.6vmin;
    }

    .secondDivItem1 div {

        width: 100%;



    }

    input[type="range"] {
        width: 100%;

    }


    .secondDivItem2 {
        padding: 7px;
        height: 50vmin;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 2.6vmin;
    }


    .secondDivItem2 div {

        width: 100%;


    }





        .buttonLinkDiv {
            height: 10vmin;
            width: 90%;
            z-index: 100;
            display: flex;
            align-items: flex-end;
            justify-content: center;
    
    
    
        }
    
    
    
        .button {
    
            padding: 7px;
            border-radius: 7px;
            background-color: transparent;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
    
            text-decoration: none;
            border: 2px solid #f0ad4e;
    
            width: 22vmin;
            height: 6vmin;
            font-size: 2.4vmin;
    
            cursor: pointer;
    
    
    
    
    
    
        }


}









@media only screen and (max-width: 500px) {




  


    .main {
        min-height: 140vmin;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }

    .firstDiv {

        min-height: 20vmin;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #f0ad4e;
        text-align: center;
        text-align: left;
        z-index: 5;

        font-size: 3.3vmin;



    }


    .secondDiv {
        height: 105vmin;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        border-radius: 10px;


        color: whitesmoke;
        z-index: 10;




    }

    .secondDivItem1 {
        padding: 7px;
        height: 50vmin;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 2.85vmin;
    }

    .secondDivItem1 div {

        width: 100%;



    }

    input[type="range"] {
        width: 100%;

    }


    .secondDivItem2 {
        padding: 7px;
        height: 50vmin;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 2.85vmin;
    }


    .secondDivItem2 div {

        width: 100%;


    }




   .buttonLinkDiv {
       height: 10vmin;
       width: 90%;
       z-index: 100;
       display: flex;
       align-items: flex-end;
       justify-content: center;



   }



   .button {

       padding: 7px;
       border-radius: 7px;
       background-color: transparent;
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;

       text-decoration: none;
       border: 2px solid #f0ad4e;

       width: 23vmin;
       height: 6.6vmin;
       font-size: 2.75vmin;

       cursor: pointer;






   }

}











@media only screen and (max-width: 450px) {







    .main {
        min-height: 162vmin;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }

    .firstDiv {

        min-height: 20vmin;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #f0ad4e;
        text-align: center;
        text-align: left;
        z-index: 5;

        font-size: 3.6vmin;



    }


    .secondDiv {
        height: 105vmin;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        border-radius: 10px;


        color: whitesmoke;
        z-index: 10;




    }

    .secondDivItem1 {
        padding: 7px;
        height: 50vmin;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 2.9vmin;
    }

    .secondDivItem1 div {

        width: 100%;



    }

    input[type="range"] {
        width: 100%;

    }


    .secondDivItem2 {
        padding: 7px;
        height: 50vmin;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 2.9vmin;
    }


    .secondDivItem2 div {

        width: 100%;


    }



  .buttonLinkDiv {
      height: 10vmin;
      width: 90%;
      z-index: 100;
      display: flex;
      align-items: flex-end;
      justify-content: center;



  }



  .button {

      padding: 7px;
      border-radius: 7px;
      background-color: transparent;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      border: 2px solid #f0ad4e;

      width: 25vmin;
     height: 7.1vmin;
      font-size: 2.8vmin;

      cursor: pointer;






  }

}
