@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}




.particles {
    height: 90vmin;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0%;
    margin: 0%;


}



.main {
    min-height: 70vmin;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    /* border: 1px solid red; */

}



.firstDiv {

    min-height:10vmin;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #f0ad4e;
    text-align: center;
    text-align: left;
    z-index: 5;
    font-size: 3vmin;

    /* border: 1px solid red; */

}



.secondDiv {
    height: 46vmin;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;
    cursor: pointer;


    font-size: 2.4vmin;




    z-index: 10;

}
.secondDiv div{
    width: 100%;
}

input[type="email"]{
    width: 100%;
    height: 4.5vmin;
    border-radius: 7px;
    padding-left: 20px;
    margin-top: 6px;
    font-size: 1.75vmin;
   
}
textarea{

        width: 100%;
        height: 23vmin;
        border-radius: 7px;
        padding-left: 20px;
        padding: 20px;
        margin-top: 6px;
            font-size: 1.75vmin;

}

.submitButton{
       align-self: flex-end;

        padding: 7px;
        border-radius: 7px;
        background-color: transparent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    
        text-decoration: none;
        border: 2px solid #f0ad4e;
    
        width: 18vmin;
        height: 5vmin;
        font-size: 2vmin;
    
        cursor: pointer;


}


.submitButton:hover {
    transition: 600ms;
    background-color: #f0ad4e;
    color: white;
}



.submitMessage{
    font-size:3.7vmin;
    font-weight: bolder;
  

}

.submitMessage span{
    font-size: 2.7vmin;
    padding-right:20px ;
}


.buttonLinkDiv {
    height: 10vmin;
    width: 80%;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    /* border: 2px solid red; */

}



.button {

    padding: 7px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border: 2px solid #f0ad4e;

    width: 20vmin;
    height: 5.5vmin;
    font-size: 2.1vmin;

    cursor: pointer;






}

.button:hover {
    transition: 600ms;
    background-color: #f0ad4e;
    color: white;
}






@media only screen and  (max-width: 992px) {


    .secondDiv {
            height: 46vmin;
            width: 35%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
    
            border-radius: 10px;
            cursor: pointer;
    
    
            font-size: 2.4vmin;
    
    
    
    
            z-index: 10;
    
        }

}















@media only screen and (max-width: 768px) {


    .particles {
           display: none;
    
    
        }
    
    
    
        .main {
            min-height: 100vmin;
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
    
         
    
        }
    
    
    
        .firstDiv {
    
            min-height: 20vmin;
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: #f0ad4e;
            text-align: center;
            text-align: left;
            z-index: 5;
            font-size: 3vmin;
    
  
    
        }
    
    
    
        .secondDiv {
            height: 46vmin;
            width: 40%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
    
            border-radius: 10px;
            cursor: pointer;
    
    
            font-size: 2.4vmin;
    
    
    
    
            z-index: 10;
    
        }
    
        .secondDiv div {
            width: 100%;
        }
    
        input[type="email"] {
            width: 100%;
            height: 4.5vmin;
            border-radius: 7px;
            padding-left: 20px;
            margin-top: 6px;
            font-size: 1.75vmin;
    
        }
    
        textarea {
    
            width: 100%;
            height: 23vmin;
            border-radius: 7px;
            padding-left: 20px;
            padding: 20px;
            margin-top: 6px;
            font-size: 2vmin;
    
        }
    
        .submitButton {
            align-self: flex-end;
    
            padding: 7px;
            border-radius: 7px;
            background-color: transparent;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
    
            text-decoration: none;
            border: 2px solid #f0ad4e;
    
            width: 18vmin;
            height: 5vmin;
            font-size: 2vmin;
    
            cursor: pointer;
    
    
        }
    
    
        .submitButton:hover {
            transition: 600ms;
            background-color: #f0ad4e;
            color: white;
        }
    
    
    
        .submitMessage {
            font-size: 3.7vmin;
            font-weight: bolder;
    
    
        }
    
        .submitMessage span {
            font-size: 2.7vmin;
            padding-right: 20px;
        }
    
    
                 .buttonLinkDiv {
                     height: 10vmin;
                     width: 90%;
                     z-index: 100;
                     display: flex;
                     align-items: flex-end;
                     justify-content: center;
        
        
        
                 }
        
        
        
                 .button {
        
                     padding: 7px;
                     border-radius: 7px;
                     background-color: transparent;
                     color: white;
                     display: flex;
                     align-items: center;
                     justify-content: center;
        
                     text-decoration: none;
                     border: 2px solid #f0ad4e;
        
                     width: 20vmin;
                     height: 5.5vmin;
                     font-size: 2.1vmin;
        
                     cursor: pointer;
        
        
        
        
        
        
                 }


                }










                                @media only screen and (max-width:600px) {
                
                
                
                
                
                                    .main {
                                        min-height: 115vmin;
                                        width: 100%;
                                        cursor: pointer;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        flex-direction: column;
                
                
                
                                    }
                
                
                
                                    .firstDiv {
                
                                        min-height: 20vmin;
                                        width: 85%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: space-around;
                                        color: #f0ad4e;
                                        text-align: center;
                                        text-align: left;
                                        z-index: 5;
                                        font-size: 3.2vmin;
                
                
                
                                    }
                
                
                
                                    .secondDiv {
                                        height: 50vmin;
                                        width: 50%;
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        justify-content: space-between;
                
                                        border-radius: 10px;
                                        cursor: pointer;
                
                
                                        font-size: 2.6vmin;
                
                
                
                
                                        z-index: 10;
                
                                    }
                
                                    .secondDiv div {
                                        width: 100%;
                                    }
                
                                    input[type="email"] {
                                        width: 100%;
                                        height: 5.5vmin;
                                        border-radius: 7px;
                                        padding-left: 20px;
                                        margin-top: 6px;
                                        font-size: 2.4vmin;
                
                                    }
                
                                    textarea {
                
                                        width: 100%;
                                        height: 26vmin;
                                        border-radius: 7px;
                                        padding-left: 20px;
                                        padding: 20px;
                                        margin-top: 6px;
                                        font-size: 2vmin;
                
                                    }
                
                                    .submitButton {
                                        align-self: flex-end;
                
                                        padding: 7px;
                                        border-radius: 7px;
                                        background-color: transparent;
                                        color: white;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                
                                        text-decoration: none;
                                        border: 2px solid #f0ad4e;
                
                                        width: 18vmin;
                                        height: 6vmin;
                                        font-size: 2.3vmin;
                
                                        cursor: pointer;
                
                
                                    }
                
                
                                    .submitButton:hover {
                                        transition: 600ms;
                                        background-color: #f0ad4e;
                                        color: white;
                                    }
                
                
                
                                    .submitMessage {
                                        font-size: 4vmin;
                                        font-weight: bolder;
                
                
                                    }
                
                                    .submitMessage span {
                                        font-size:3vmin;
                                        padding-right: 20px;
                                    }

                                    .buttonLinkDiv {
                                         height: 10vmin;
                                     width: 90%;
                                     z-index: 100;
                                 display: flex;
                                   align-items: flex-end;
                                          justify-content: center;
                                     }
                                    
                                    
                                    
                                                                        .button {
                                    
                                                                            padding: 7px;
                                                                            border-radius: 7px;
                                                                            background-color: transparent;
                                                                            color: white;
                                                                            display: flex;
                                                                            align-items: center;
                                                                            justify-content: center;
                                    
                                                                            text-decoration: none;
                                                                            border: 2px solid #f0ad4e;
                                    
                                                                            width: 22vmin;
                                                                            height: 6vmin;
                                                                            font-size: 2.4vmin;
                                    
                                                                            cursor: pointer;
                                    
                                    
                                    
                                    
                                    
                                    
                                                                        }
                
                
                
                
                                }
















@media only screen and (max-width:500px) {


    



    .main {
        min-height: 140vmin;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;



    }



    .firstDiv {

        min-height:20vmin;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #f0ad4e;
        text-align: center;
        text-align: left;
        z-index: 5;
        font-size: 3.3vmin;



    }



    .secondDiv {
        height: 55vmin;
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 10px;
        cursor: pointer;


        font-size: 2.6vmin;




        z-index: 10;

    }

    .secondDiv div {
        width: 100%;
    }

    input[type="email"] {
        width: 100%;
        height: 5.5vmin;
        border-radius: 7px;
        padding-left: 20px;
        margin-top: 6px;
        font-size: 2.5vmin;

    }

    textarea {

        width: 100%;
        height: 26vmin;
        border-radius: 7px;
        padding-left: 20px;
        padding: 20px;
        margin-top: 6px;
        font-size: 2.4vmin;

    }

    .submitButton {
        align-self: flex-end;

        padding: 7px;
        border-radius: 7px;
        background-color: transparent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        border: 2px solid #f0ad4e;

        width: 22vmin;
        height: 6.5vmin;
        font-size: 2.6vmin;

        cursor: pointer;


    }


    .submitButton:hover {
        transition: 600ms;
        background-color: #f0ad4e;
        color: white;
    }



    .submitMessage {
        font-size:4vmin;
        font-weight: bolder;


    }

    .submitMessage span {
        font-size: 3vmin;
        padding-right: 20px;
    }

   .buttonLinkDiv {
       height: 10vmin;
       width: 90%;
       z-index: 100;
       display: flex;
       align-items: flex-end;
       justify-content: center;



   }



   .button {

       padding: 7px;
       border-radius: 7px;
       background-color: transparent;
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;

       text-decoration: none;
       border: 2px solid #f0ad4e;

       width: 23vmin;
       height: 6.6vmin;
       font-size: 2.75vmin;

       cursor: pointer;






   }



}




@media only screen and (max-width:450px) {





    .main {
        min-height: 162vmin;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;



    }



    .firstDiv {

        min-height: 20vmin;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #f0ad4e;
        text-align: center;
        text-align: left;
        z-index: 5;
        font-size: 3.6vmin;



    }



    .secondDiv {
        height: 60vmin;
        width: 65%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 10px;
        cursor: pointer;


        font-size: 3vmin;




        z-index: 10;

    }

    .secondDiv div {
        width: 100%;
    }

    input[type="email"] {
        width: 100%;
        height: 6vmin;
        border-radius: 7px;
        padding-left: 20px;
        margin-top: 6px;
        font-size: 2.6vmin;

    }

    textarea {

        width: 100%;
        height: 33vmin;
        border-radius: 7px;
        padding-left: 20px;
        padding: 20px;
        margin-top: 6px;
        font-size: 2.75vmin;

    }

    .submitButton {
        align-self: flex-end;

        padding: 7px;
        border-radius: 7px;
        background-color: transparent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        border: 2px solid #f0ad4e;

        width: 22vmin;
        height: 6.8vmin;
        font-size: 2.75vmin;

        cursor: pointer;


    }


    .submitButton:hover {
        transition: 600ms;
        background-color: #f0ad4e;
        color: white;
    }



    .submitMessage {
        font-size: 4.2vmin;
        font-weight: bolder;


    }

    .submitMessage span {
        font-size: 3vmin;
        padding-right: 20px;
    }

        .buttonLinkDiv {
            height: 10vmin;
            width: 90%;
            z-index: 100;
            display: flex;
            align-items: flex-end;
            justify-content: center;
    
    
    
        }
    
    
    
        .button {
    
            padding: 7px;
            border-radius: 7px;
            background-color: transparent;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
    
            text-decoration: none;
            border: 2px solid #f0ad4e;
    
            width: 25vmin;
            height: 7.1vmin;
            font-size: 2.8vmin;
    
            cursor: pointer;
    
    
    
    
    
    
        }



}